<div class="form-container">
  <form
    [formGroup]="form"
    (submit)="onSubmit()"
  >
    <h1 class="center">Анкета</h1>
    <div *ngFor="let item of formConfig">
      <label class="text">{{item.label}}{{item.required ? '*' : ''}}</label>

      <span *ngIf="item.type == 'checkbox'" class="form-input-field">
      <app-test-checkbox
        [formControlName]="item.formControlName"
        [options]="item.options"
      ></app-test-checkbox>
    </span>

      <span *ngIf="item.type == 'text'" class="form-input-field">
      <app-test-input
        [type]="item.type"
        [formControlName]="item.formControlName"
      ></app-test-input>
    </span>

      <span *ngIf="item.type == 'number'" class="form-input-field">
      <app-test-number
        [type]="item.type"
        [formControlName]="item.formControlName"
      ></app-test-number>
    </span>


      <span *ngIf="item.type == 'select'" class="form-input-field">
      <app-test-select
        [formControlName]="item.formControlName"
        [options]="item.options"
      ></app-test-select>
  </span>

    </div>
    <div class="form-btn-group center">
      <button type="submit" class="btn">Отправить</button>
      <button type="button" (click)="onReset()" class="btn">Восстановить форму</button>
    </div>

  </form>

</div>
