/* You can add global styles to this file, and also import other style files */

.text {

  width: 140px;
  height: 24px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
}

.btn {

  width: 139px;
  height: 52px;
  background: #FFE783;
  border-radius: 3px;
  margin: 5px;
}

.center{
  display: flex;
  justify-content: center;

}
